
.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;




}


.card {
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .card[class*="border"] {
    border: 1px solid #9e9e9e;
    box-shadow: none; }
  .card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 400; }
  .card .card-body .card-title a {
    transition: 0.2s ease-in-out; }
    .card .card-body .card-title a:hover {
      transition: 0.2s ease-in-out; }
  .card .card-body .card-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: #747373; }
  .card .md-form label {
    font-weight: 300; }
