/* @extend display-flex; */
display-flex, .select-icon, .select-icon i, .steps ul, .actions ul li a, .form-row, .select-list li, .form-radio-group {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul, .select-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.clear {
  clear: both; }

h5 {
  font-size: 18px;
  font-weight: 700;
  color: #999999;
  cursor: pointer; }

body {
  font-size: 15px;
  line-height: 1.92;
  color: #222;
  font-weight: 500;
  font-family: 'Poppins';
  margin: 0px;
  background-image: -moz-linear-gradient(0deg, #d9afd9 0%, #5a2170 0%, #a1c4fd 0%, #c2e9fb 100%);
  background-image: -webkit-linear-gradient(0deg, #d9afd9 0%, #5a2170 0%, #a1c4fd 0%, #c2e9fb 100%);
  background-image: -ms-linear-gradient(0deg, #d9afd9 0%, #5a2170 0%, #a1c4fd 0%, #c2e9fb 100%); }

.main {
  padding: 195px 0; }

.container {
  width: 840px;
  position: relative;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15); }

.signup-form {
  width: 100%; 
  height: 100%; 
  min-height: 100px;
  padding: 0px 0px 10px 0px;
  position: relative; }

input, textarea {
  box-sizing: border-box;
  background: transparent;
  border: none;
  font-size: 15px;
  padding: 15px 20px;
  border: 1px solid #ebebeb;
  font-family: 'Poppins';
  height: 50px;
  font-weight: 500; }
  input:focus, textarea:focus {
    border: 1px solid #6dbdfe; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 13px; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999;
    font-size: 13px; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999;
    font-size: 13px; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999;
    font-size: 13px; }

#room_description {
  height: 150px;
  margin-top: 22px; }

.select-icon {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20px;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center; }
  .select-icon i {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 30px;
    color: #999; }

input, label, textarea {
  width: 100%;
  display: block; }

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

input[type=checkbox]:not(old) + label {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 25px; }

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 3px;
  border: 1px solid #ebebeb;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

.label-agree-term {
  font-weight: 400;
  font-size: 13px; }

fieldset {
  border: none;
  margin: 0px;
  padding: 0px; }

fieldset.current {
  padding-top: 0px; }

.content {
  padding-right: 70px;
  padding-left: 80px;
  height: 410px; }
  .content h5 {
    display: none; }

.steps {
  border-bottom: 1px solid #ebebeb; }
  .steps ul {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between; }
    .steps ul li {
      width: 330px;
      margin: 0 75px;
      position: relative; }
      .steps ul li:after {
        position: absolute;
        content: '';
        height: 0px;
        width: 100%;
        left: 0;
        bottom: -2px;
        background: #6dbdfe; }
      .steps ul li a {
        text-decoration: none;
        display: block;
        background: transparent;
        color: #999999;
        text-align: center;
        padding-bottom: 7px;
        padding-top: 4px;
        font-weight: bold; }
      .steps ul li:hover:after {
        height: 3px; }
      .steps ul li:hover a h5 {
        color: #6dbdfe; }
    .steps ul .current:after {
      height: 3px; }
    .steps ul .current a h5 {
      color: #6dbdfe; }

.actions {
  position: absolute;
  bottom: 31px;
  right: 0;
  width: 100%; }
  .actions ul {
    width: 100%;
    display: inline-block; }
    .actions ul .disabled {
      display: none; }
    .actions ul li:first-child {
      float: left;
      padding-left: 80px; }
      .actions ul li:first-child a {
        background: #ebebeb;
        color: #999999; }
        .actions ul li:first-child a:hover {
          background-color: #d2d2d2; }
    .actions ul li:nth-child(2), .actions ul li:last-child {
      float: right;
      padding-right: 70px; }
    .actions ul li a {
      width: 140px;
      height: 50px;
      color: #fff;
      background: #6dbdfe;
      align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center;
      text-decoration: none;
      text-transform: uppercase; }
      .actions ul li a:hover {
        background-color: #3aa6fe; }

.form-row {
  margin: 0 -15px; }

.form-group, .form-select {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 15px; }

.form-group {
  padding-bottom: 20px;
  position: relative; }

.label-radio {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 70px; }

.form-check {
  padding-top: 105px;
  position: relative;
  z-index: 99;
  width: 50%; }

.select-group {
  position: relative; }

.select-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  width: 100%; }

#daily_budget {
  z-index: 99; }

.select-list li {
  padding: 14px 20px;
  z-index: 2;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  border: 1px solid #ebebeb; }
  .select-list li img {
    margin-right: 12px; }

.select-list li:not(.init) {
  display: none;
  background: #f8f8f8;
  color: #222;
  padding: 5px 20px; }

.select-list li:not(.init):hover, .select-list li.selected:not(.init) {
  background: #6dbdfe;
  color: #fff; }

li.init {
  cursor: pointer;
  position: relative;
  background: transparent;
  height: 48px;
  padding: 0 20px; }
  li.init:after {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2f9'; }

.form-radio-group {
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  padding-bottom: 10px;
  padding-top: 12px; }

.form-radio-item {
  position: relative;
  margin-bottom: 11px; }
  .form-radio-item label {
    font-weight: 500;
    color: #666;
    padding-left: 40px;
    position: relative;
    z-index: 9;
    display: block;
    cursor: pointer;
    text-transform: none; }

.radio-label {
  font-size: 18px;
  padding-bottom: 2px; }

.check {
  display: inline-block;
  position: absolute;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  height: 18px;
  width: 18px;
  top: 4px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }
  .check:before {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear; }

input[type=radio] {
  position: absolute;
  visibility: hidden; }
  input[type=radio]:checked ~ .check {
    border: 1px solid #6dbdfe; }
  input[type=radio]:checked ~ .check::before {
    background: #6dbdfe; }

@media screen and (max-width: 992px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; }

  .form-group-flex {
    width: 310px; }

  .steps ul li {
    margin: 0 55px; } }
@media screen and (max-width: 768px) {
  .steps ul, .form-row {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .steps ul li {
    width: 100%;
    margin: 0px; }

  .form-group, .form-select {
    padding: 0px;
    width: 100%; }

  .form-row {
    margin: 0px; }

  .form-select {
    margin-bottom: 65px; }

  .content {
    height: 550px;
    padding-right: 30px;
    padding-left: 30px; }

  .actions {
    bottom: 20px; }

  .actions ul li:nth-child(2), .actions ul li:last-child {
    padding-right: 30px; }

  .actions ul li:first-child {
    padding-left: 30px; } }
@media screen and (max-width: 575px) {
  .actions {
    bottom: 0px;
    padding-top: 40px;
    position: relative; }

  .form-check {
    width: 100%; } }
@media screen and (max-width: 480px) {
  .actions ul li a {
    width: 100px; } }

/*# sourceMappingURL=style.css.map */
